body{

margin:0;
background:#111;
font-family:Poppins,sans-serif;
color:#fff;

}

.container{

width:90%;
max-width:700px;
margin:auto;
padding:40px 0;

}

h1{

color:#D71F28;
text-align:center;

}

h2{

text-align:center;
margin-bottom:40px;

}

.card{

background:#1a1a1a;
padding:25px;
border-radius:15px;
margin-bottom:25px;

}

#reader{

width:100%;

}

input{

width:100%;
padding:15px;
margin-bottom:15px;

}

button{

padding:15px;
width:100%;
background:#D71F28;
color:#fff;
border:none;
cursor:pointer;
border-radius:8px;

}

table{

width:100%;

}

td{

padding:10px;

}

#checkInBtn{

margin-top:20px;

}
