/*=========================================
TEAM
==========================================*/

.team-section{

padding:100px 0;

}

.team-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

margin-top:60px;

}

.team-card{

background:rgba(255,255,255,.03);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

overflow:hidden;

transition:.4s;

backdrop-filter:blur(12px);

}

.team-card:hover{

transform:translateY(-10px);

border-color:#D71F28;

box-shadow:0 20px 50px rgba(215,31,40,.25);

}

.team-image{

height:340px;

overflow:hidden;

}

.team-image img{

width:100%;

height:100%;

object-fit:cover;

transition:.5s;

}

.team-card:hover img{

transform:scale(1.08);

}

.team-content{

padding:28px;

}

.team-content h2{

margin:0;

font-size:28px;

color:#fff;

}

.team-role{

display:inline-block;

margin-top:12px;

padding:8px 18px;

background:#D71F28;

border-radius:50px;

font-size:.8rem;

font-weight:600;

letter-spacing:1px;

text-transform:uppercase;

}

.team-quote{

margin-top:25px;

line-height:1.9;

color:#cfcfcf;

font-style:italic;

position:relative;

}

.team-quote::before{

content:"❝";

font-size:42px;

color:#D71F28;

display:block;

margin-bottom:10px;

}


.join-team{

padding:120px 0;

text-align:center;

}

.join-team h2{

font-size:3rem;

margin-bottom:25px;

}

.join-team p{

max-width:750px;

margin:auto;

line-height:2;

color:#bbb;

margin-bottom:40px;

}
